# Environment variables & secrets
.env
.env.*
*.env
*.env.save
!.env.example
!*/.env.example

# Python & Virtual Environments
venv/
.venv/
*/venv/
*/*/venv/
env/
__pycache__/
*/__pycache__/
*/*/__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
UserInterfaceState.xcuserstate
